.navigation {
  position: absolute;
  right: @default-spacing;
  bottom: 0;
  width: @navigation-width;
  text-align: center;

  li {
    list-style: none;
    margin-bottom: @default-spacing;

    a {
      font-size: 32px;
      color: @primary-black;
      opacity: 0.1;
      transition: .3s opacity ease;

      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}
