@default-font-family: "Open Sans", Arial, sans-serif;
@default-font-size: 14px;
@default-line-height: 1.5em;

@navigation-height: 50px;

/*
  Color schema from:
  http://coolors.co/d78aab-6888a5-e0eef8-d6c1b0-735631
*/

@loading-bg: #E4E3D3;
@mood-bg: #2E2D4D;
@success-bg: #337357;

@primary-white: #fff;
@primary-black: #333;
@primary-grey: #f3f3f3;
